@model PostaFlya.Models.Flier.FlierCreateModel

@*<script language="javascript" type="text/javascript">*@
@**@
@**@
@*    // example of how to add new rule*@
@*    *@
@*//    $.validator.addMethod('hiddenrequiredrule', function (value, element, param) {*@
@*//        alert(value);*@
@*//        return false;*@
@*//    });*@
@*    $.validator.unobtrusive.adapters.addBool('requiredwithmsg', 'required');  *@
@*</script>*@


<div class="cost-container">
    Flier Cost:<span data-bind="text:totalCost"></span> 
    <a data-bind="click:showCostBreakdown">+</a>
    <ul class="cost-breakdown" data-bind="visible:costBreakdown, foreach:flierCosts">
        <li>
            <span data-bind="text:title"></span>:
            <span data-bind="text:credits"></span>
            <div class="cost-description" data-bind="text:description"></div>
        </li>
    </ul>
</div>


<div id="flierCreateStep"  data-bind="template: { name: stepTemplate}">
    </div>

    <div id="form-buttons">
        <a id="flya-create-back" data-bind="click: prevTemplate, visible:isPrevStep()" class="Button">&nbsp;</a>
        <a id="flya-create-continue" data-bind="click: nextTemplate, visible:isNextStep()" class="Button"></a>

        <a id="flya-create-save" data-bind="click: save, visible:!isUpdate() && !isNextStep()" class="Button">&nbsp;</a>
        <a id="flya-create-update" data-bind="click: update, visible:isUpdate() && !isNextStep()" class="Button">&nbsp;</a>
    </div>

<script type="text/html" id="Flyer-template">
    <form id="flierForm" class="" data-bind="validate: true">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id, new { data_bind = "value:Id" })
        <fieldset>
            <legend>ADD IMAGE TO YOUR FLYA</legend>
            <h2>ADD IMAGE TO YOUR FLYA</h2>
            
            <div class="">
                <h3>PREVIEW IMAGE</h3>
                @Html.ValidationMessageFor(model => model.FlierImageId)
                <img data-bind="attr: { src: FlierImageUrlH250}, visible:FlierImageUrl" />
                @Html.HiddenFor(model => model.FlierImageId, new { data_bind = "value:FlierImageId" })
                
            </div>

            <span class="" data-bind="with:imageSelector">
                @Html.Partial("Image/ImageSelector")
            </span>
            
            
        </fieldset>
    </form>

</script>

@Html.Partial("Image/ImageListTemplate")

<script type="text/html" id="Images-template">
    <form id="flierForm" class="" data-bind="validate: true">
        <h2>Add images to your flier</h2>

    <ul class="flier-images" data-bind="foreach:ImageList">
        <li>
            <img data-bind="attr:{src: ImageUrl}"/>
        </li>
    </ul>

    <fieldset>
        <legend>Add images to your flier</legend>
        
        <ol>
            <li data-bind="with:imageSelector">
                @Html.Partial("Image/ImageSelector")
            </li>            
        </ol>
        
    </fieldset>
    </form>

</script>

<script type="text/html" id="Location-template">
    <form id="flierForm" class="" data-bind="validate: true">
        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id, new { data_bind = "value:Id" })
        <fieldset>
            <legend>Add a location</legend>
            <div data-bind="with:locationSelectorCreateEdit">
                <h2>Add a location to your flier</h2>
                @Html.HiddenFor(model => model.Location, new { data_bind = "value:currentLocation().ValidLocationForValidation()" })
                
                <h3>ENTER THE ADDRESS BELOW</h3>
                
                @Html.ValidationMessageFor(model => model.Location)
                <input class="location-search" type="text" data-bind="value: searchText, attr:{id:locSearchId}, click: clearSearchText"/>
                @Html.Partial("Location/LocationSelector")
            </div>
    </fieldset>
    </form>
</script>

<script type="text/html" id="Info-template">
    <form id="flierForm" class="" data-bind="validate: true">
    
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id, new { data_bind = "value:Id" })
        <fieldset>
            <legend>ADD DETAILS TO YOUR FLYA</legend>
            <h2>ADD DETAILS TO YOUR FLYA</h2>

            <span class="form-divider">
                <h3>Title</h3>
                @Html.ValidationMessageFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new { data_bind = "value:Title" })
                

                <h3>Description</h3>
                @Html.ValidationMessageFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { data_bind = "value:Description" })
                
            </span>
            <span class="form-divider-right">
                <h3>Date</h3>
                @Html.ValidationMessageFor(model => model.EffectiveDate)
                @Html.HiddenFor(model => model.EffectiveDate, new { data_bind = "value:EffectiveDate" })
                
                <div id="flyaDate" data-bind="datePicker:{altField: '#EffectiveDate'}, value:EffectiveDate"></div>
            </span>
    </fieldset>
    </form>
</script>


<script type="text/html" id="Tags-template">
    <form id="flierForm" class="" data-bind="validate: true">
    
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.Id, new { data_bind = "value:Id" })
        <fieldset>
            <legend>Now add some flyer tags</legend>
            <ol>
                <li data-bind="with:tagsSelector">
                    <h2>Add some tags to your fliers</h2>
                    @Html.ValidationMessageFor(model => model.TagsString)
                    @Html.HiddenFor(model => model.TagsString, new { data_bind = "value:SelectedTags()" })
                
                    @Html.Partial("Tags/TagsSelector")
                </li>
            </ol>        
        </fieldset>
        <fieldset>
            <legend>Flier Features</legend>
            <h2>Advanced Flier Features</h2>
           
            <ol>
                <li>
                    @Html.ValidationMessageFor(model => model.EnableAnalytics)
                    @Html.CheckBoxFor(model => model.EnableAnalytics, new { data_bind = "checked: EnableAnalytics" }) 
                    Enable Analytics
                </li>
            </ol>  

        </fieldset>
    </form>
</script>
