
@model PostaFlya.Models.PageModelInterface


@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{
    @RenderSection("title", false)
}

@section scripts { 
    @Scripts.Render("~/Script/Profile.js") 
}

@section leftheader
{
    @Html.Partial("~/Views/Profile/ProfileToolbar.cshtml")
}

@section rightheader
{
    @Html.Partial("Header/BulletinRightToolbar")
}

@section middleheader
{
    @Html.Partial("Header/GlobalMiddleToolbar")
}

<div class="page-content" id="profile-content">
    <div class="page-inner">
        @RenderBody()
    </div>
</div>
