
@model PostaFlya.Models.PageModelInterface


@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts { 
    @Scripts.Render("~/Script/Profile.js") 
}

@section leftheader
{
    @Html.Partial("ProfileToolbar")
}

@section rightheader
{
    @Html.Partial("Header/BulletinRightToolbar")
}

<div class="page-content" data-pageid="@Model.PageId" id="profile-content">
    <div class="page-inner">
        @RenderBody()
    </div>
</div>
