
@model PostaFlya.Models.PageModelInterface


@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{
    @RenderSection("title", false)
}

@section scripts { 
    @Scripts.Render("~/Script/Profile.js") 
}

@section leftheader
{
    @Html.Partial("~/Views/Profile/ProfileToolbar.cshtml")
}



@section middleheader
{
    @Html.Partial("Header/GlobalMiddleToolbar")
}

<div class="page-content" id="profile-content">
    <div class="profile-logout">
        <a href="@Url.Action("LogOut", "Account")" class="bold-link">Log off</a>
    </div>
    <div class="page-inner">
        @RenderBody()
    </div>
</div>
