
@using System.Web.Optimization
@model PostaFlya.Models.Browser.ProfileEditModel

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts { 
    @Styles.Render("~/Content/structure/ProfileEdit/DeskCss")   
    @Styles.Render("~/Content/themes/taskflya/ProfileEdit/DeskCss")   
    @Scripts.Render("~/Script/ProfileEditDeskJs") 
}
<div class="page-content">
    <div class="page-inner">
        <h2>Edit Profile</h2>
        <h3>Edit your postaflya details</h3>

        @Html.Partial("Image/ImageListTemplate")
        <form id="profileeditform" class="form">
    
            @Html.ValidationSummary(false)
    
            @Html.HiddenFor(model => model.Id, new { data_bind = "value:Id" })
            
            <fieldset>
                <legend> @Html.LabelFor(model => model.Handle) </legend>
                <ol>
                    <li>
                        @Html.LabelFor(model => model.Handle)
                        @Html.TextBoxFor(model => model.Handle, new { data_bind = "value:Handle" })
                        @Html.ValidationMessageFor(model => model.Handle)
                    </li>
                </ol>
            </fieldset>
            <fieldset>
                <legend> @Html.LabelFor(model => model.Credits)</legend>
                <ol>
                    <li>
                        @Html.LabelFor(model => model.Credits)
                        <span data-bind="text: Credits"></span>
                        @Html.ActionLink("Manage Credits", "PaymentPending", "Profile")
                    </li>
                </ol>
            </fieldset>

            @Html.Partial("Contact/ContactDetailsEditPartial", Model)

            <fieldset>           
                <legend>@Html.LabelFor(model => model.AvatarImageId)</legend>
                <ol>
                                
                    <li data-bind="with:imageSelector">
                        @Html.LabelFor(model => model.AvatarImageId)
                        <img data-bind="attr: { src: selectedImageUrl}, visible:selectedImageUrl" class="preview-avatar" />
                        <span class="selected-image" data-bind="visible:(selectedImageUrl()==null)">Please select an image for your profile</span>
                        <a id="select-images" data-bind="click: $root.showImageSelect" class="select-mini-btn" style="">&nbsp;</a>
                    </li>

                    <li data-bind="with:imageSelector, visible:$root.ImageSelectorVisible">
                        
                        @Html.HiddenFor(model => model.AvatarImageId, new { data_bind = "value:selectedImageId()" })
                        @Html.ValidationMessageFor(model => model.AvatarImageId)
                        @Html.Partial("Image/ImageSelector")
                    </li>          
                </ol>
 
            </fieldset>
            <div>
                <a id="profile-save" data-bind="click: update" class="Button" style="">&nbsp;</a>
                <div style="clear: both;"></div>
            </div>
            @*todo add error handling binding for our own messages*@
            <span data-bind="text: ErrorHandler() != null ? ErrorHandler().Message : ''"></span>
        </form>
    </div>
    </div>
