
@using System.Web.Optimization
@model dynamic

@{
    ViewBag.Title = "DetailGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    @Styles.Render("~/Content/structure/Bulletin/DeskCss.css")   
    @Styles.Render("~/Content/themes/taskflya/Bulletin/DeskCss.css")
        
    @Styles.Render("~/Content/structure/Profile/DeskCss.css")   
    @Styles.Render("~/Content/themes/taskflya/Profile/DeskCss.css")   
    @Scripts.Render("~/Script/ProfileDeskJs.js") 
}

@Html.Partial("Bulletin/SelectedBulletinViewPartial")


@Html.Partial("State/PageStateAdd", "ProfileModel")

<div id="profile-view" class="page-content">
    <div class="page-inner">
        <h2 data-bind="visible: MyFliers().length > 0">My Fliers</h2>
        <h3>Review and edit your existing fliers</h3>
        <div id="created-fliers"  data-bind="template: { name: FliersLayout.FlierTemplate, foreach: MyFliers }, visible: MyFliers().length > 0, updateLayout: FliersLayout">
            @Html.Partial("Bulletin/BulletinItems", (object)Model.Fliers)
        </div>
        <h2 data-bind="visible: ClaimedFliers().length > 0">Claimed Fliers</h2>
        <div id="claimed-fliers"  data-bind="template: { name: ClaimedFliersLayout.FlierTemplate, foreach: ClaimedFliers }, visible: ClaimedFliers().length > 0, updateLayout: ClaimedFliersLayout">
            @Html.Partial("Bulletin/BulletinItems", (object)Model.ClaimedFliers)
        </div>
    </div>
</div>

