@using System.Web.Optimization
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts { 
    @Styles.Render("~/Content/structure/PaymentPending/DeskCss")   
    @Styles.Render("~/Content/themes/taskflya/PaymentPending/DeskCss")   
    @Scripts.Render("~/Script/PaymentPendingDeskJs") 
}

<div class="page-content">
<div class="page-inner">
    <h2>Pending Fliers</h2>
    <h3>Fliers that require payemnt</h3>
    <div data-bind="foreach:MyPendingFliersList">
        <div class="paymnet-flier">
            <img style="width: 250px" data-bind="bulletinimg: FlierImageUrl, root: $root, alt: Title, imgRetry: FlierImageUrl"/>
            <div><span data-bind="text:PendingCredits"></span> Flya Credits</div>
            <div class="btm-buttons">
                <a data-bind="click:$root.payFlier" class="Button std-btn">PAY FOR FLIER</a>
                <a data-bind="click: $root.CreateFlierInstance.EditFlierLaunch" class="Button std-btn">EDIT</a>
            </div>
        </div>
    

    </div>
    
    <h3>Current Flya Credits</h3>
    
    Your Current Credit Account Balance <span data-bind="text:$root.currentBrowser.Credits"></span>
    
    <div class="btm-buttons">
        @Html.ActionLink("Add More", "AddAccountCredit", "Payment", null, new {@class = "std-btn"})
        @Html.ActionLink("View Transactions", "PaymentTransactions", "Payment", null, new {@class = "std-btn"})
    </div>
</div>
    </div>


