
@using PostaFlya.Models
@model PostaFlya.Models.PageModelInterface

<span class="long-toolbar">
<a id="profile-peeled" href="@Url.Action("Peeled", "Profile")"  
   class="std-btn std-image-btn btn-white btn-44 @Model.GetNavigationItemClass(WebConstants.ProfileNavPeeled)" >
    <span class="std-image-btn-icon"></span>
    <span class="image-btn-text">Peeled</span>
</a><a id="profile-posted" data-bind="visible: bf.currentBrowserInstance.AdminBoards.length > 0" href="@Url.Action("Posted", "Profile")"  
       class="std-btn std-image-btn btn-white btn-white btn-44 @Model.GetNavigationItemClass(WebConstants.ProfileNavPosted)">
        <span class="std-image-btn-icon"></span>
        <span class="image-btn-text">Posted</span>
    </a>
    

  <!--  <a id="profile-payment" href="@Url.Action("PaymentPending", "Profile")"  
       class="std-btn std-image-btn btn-white btn-44 @Model.GetNavigationItemClass(WebConstants.ProfileNavPayment)" >
        <span class="std-image-btn-icon"></span>
        
        <span class="image-btn-text">Credits</span>
    </a>
    <a id="profile-edit" href="@Url.Action("Edit", "Profile")"  
           class="std-btn std-image-btn btn-white btn-44 @Model.GetNavigationItemClass(WebConstants.ProfileNavEdit)">
            <span class="std-image-btn-icon"></span>
            <span class="image-btn-text">Profile</span>
        </a>-->
    </span>
