
@using Website.Application.Domain.Content
@using PostaFlya.Areas.Default.Models
@using PostaFlya.Models.Content

@model DefaultDetailsViewModel

@{var Flier = ViewBag.Template != null && ViewBag.Template ? DefaultDetailsViewModel.DefaultForTemplate().Flier : Model.Flier;}

<div class="flier-view flier-view-default">
    <div class="flier-details clear-fix" data-bind="with:Flier">
        
        @Html.Partial("Bulletin/DownloadPrintImagePartial", Flier)
        

        <h3 class="flier-title" data-bind="text:Title">
            @Flier.Title
        </h3>
            
        <div class="flier-img">
            <img data-bind="imgRetry: FlierImageUrl, bulletinimg:FlierImageUrl"/>
        </div>
            
        <div class="flier-desc" data-bind="text:Description">
            @Flier.Description
        </div>                 
    </div>

    
    @Html.Partial("Flier/AnalyticSummary")

        
    <div class="claim-stats">
        @*replace with image*@
        <div class="claim-icon">Tear Offs:</div>
        <span data-bind="text:Flier.NumberOfClaims">
            @Flier.NumberOfClaims  
        </span>
    </div>
    
    
    <span data-bind="with:Flier">
        <a class="std-btn" data-bind="click:$root.CreateFlierInstance.EditFlierLaunch">EDIT</a>
    </span>
</div>



