

@using PostaFlya.Models.Flier
@using PostaFlya.Models.Location
@using Website.Application.Domain.Content
@using PostaFlya.Areas.Default.Models

@model DefaultDetailsViewModel
@{
    BulletinFlierModel flier = Model.Flier;
    ContactDetailsModel contactDets = Model.ContactDetails ?? new ContactDetailsModel();
}

<div class="flier-view flier-view-default">
    <div class="flier-details clear-fix" data-bind="with:Flier">  
        
        @Html.Partial("Bulletin/DownloadPrintImagePartial", flier)
        
        <div class="fb-share" data-bind="click:$parent.facebook"></div>
        <a class="twitter-share" data-bind="attr:{href: $parent.twitter()}"></a>

        <h3 class="flier-title" data-bind="text:Title">
            @flier.Title
        </h3>
            
        <div class="flier-img">
            <img data-bind="imgRetry: FlierImageUrl, bulletinimg:FlierImageUrl"/>
        </div>
    </div>

    <div class="tear-off" data-bind="if: ContactDetails() == null">
        <a class="std-btn" data-bind="click: TearOff, css: {'btn-std-inuse': IsPeeling()}, text: PeelText">Peel Details</a>
    </div> 
        
    <div data-bind="if:ContactDetails() != null">
        <h4>
                Contact Details
        </h4>
        <div class="flier-contact-dets" data-bind="with:ContactDetails">
            
            @Html.Partial("Contact/ContactDetailsViewPartial", contactDets)


            <a class="std-btn" data-bind="click: $parent.TearOff, css{btn-std-inuse: $parent.IsPeeling(), text: $parent.PeelText">Resend Details</a>
        </div>
    </div> 
        
    <div data-bind="if:Flier.HasEventDates">
        <h4> Event Date </h4>
        <div class="flier-event-dates">    
            <span data-bind="text: EventDatesString()">@flier.EffectiveDate.ToLongDateString()</span> 

        </div>
    </div>
    <div>
        <h4> Description </h4>    
        <div class="flier-desc" data-bind="simpletext:Flier.Description">
            @flier.Description
        </div> 
    </div>
        

                      
        



   

</div>



