@using Website.Application.Domain.Content
@using PostaFlya.Areas.Default.Models
@using PostaFlya.Models.Content
@model dynamic
@{var Flier = ViewBag.Template != null && ViewBag.Template ? DefaultDetailsViewModel.DefaultForTemplate().Flier : Model.Flier;}

<div class="flier-view flier-view-default">
    <div class="flier-details clear-fix" data-bind="with:Flier">  
        <div class="flier-claims-comments">
            <input type="button" data-bind="click: print, defaultprint: $root" title="print"/>
            <div class="claim-stats">
                @*replace with image*@
                <div class="claim-icon">Claims:</div>
                <span data-bind="text:NumberOfClaims">
                    @Flier.NumberOfClaims  
                </span>
            </div>
            <div class="comment-stats">
                @*replace with image*@
                <div class="comment-icon">Comments:</div>
                <span data-bind="text:NumberOfComments">
                    @Flier.NumberOfComments                                     
                </span>
            </div>               
        </div>

        <div class="flier-title" data-bind="text:Title">
            @Flier.Title
        </div>
            
        <div class="flier-img">
            <img data-bind="imgRetry: FlierImageUrl" src="@ImageUtil.GetUrlForImageUri(Flier.FlierImageUrl, ThumbOrientation.Vertical, ThumbSize.S450)"/>
        </div>
            
        <div class="flier-desc" data-bind="text:Description">
            @Flier.Description
        </div>                 
    </div>

    <ul class="flier-images" data-bind="foreach:Flier.ImageList">
        @foreach(ImageViewModel img in Flier.ImageList)
        {
            <li>
                <img data-bind="attr:{src: ImageUrl}" src="@ImageUtil.GetUrlForImageUri(img.ImageUrl, ThumbOrientation.Vertical, ThumbSize.S200)"/>
            </li>
        }
    </ul>
        
    <div class="claim-stats">
        @*replace with image*@
        <div class="claim-icon">Claims:</div>
        <span data-bind="text:Flier.NumberOfClaims">
            @Flier.NumberOfClaims  
        </span>
    </div>
    @Html.Partial("ClaimsPartial")

    <div class="comment-stats">
        @*replace with image*@
        <div class="comment-icon">Comments:</div>
        <span data-bind="text:Flier.NumberOfComments">
            @Flier.NumberOfComments
        </span>
    </div>   
    @Html.Partial("CommentsPartial")


</div>



