

@using PostaFlya.Models.Flier
@using PostaFlya.Models.Location
@using Website.Application.Domain.Content
@using PostaFlya.Areas.Default.Models

@model DefaultDetailsViewModel
@{
    BulletinFlierModel flier = Model.Flier;
    ContactDetailsModel contactDets = Model.ContactDetails ?? new ContactDetailsModel();
}

<div class="flier-view flier-view-default">
    <div class="flier-details clear-fix" data-bind="with:Flier">  
        <!--<div class="flier-claims-comments">
                <input type="button" data-bind="click: print, defaultprint: $root" title="print"/>
                <div class="claim-stats">
                    @*replace with image*@
                    <div class="claim-icon">Claims:</div>
                    <span data-bind="text:NumberOfClaims">
                        @flier.NumberOfClaims  
                    </span>
                </div>             
            </div>-->
        
        @Html.Partial("Bulletin/DownloadPrintImagePartial", flier)

        <h3 class="flier-title" data-bind="text:Title">
            @flier.Title
        </h3>
            
        <div class="flier-img">
            <img data-bind="imgRetry: FlierImageUrl, bulletinimg:FlierImageUrl"/>
        </div>
            
        <div class="flier-desc" data-bind="text:Description">
            @flier.Description
        </div> 
        
                      
    </div>
    <div class="tear-off" data-bind="visible: ContactDetails() == null">
        <a class="std-btn" data-bind="click: TearOff">Peel Details</a>
    </div> 

    <div class="flier-contact-dets" data-bind="visible: ContactDetails() != null, with:ContactDetails">
        @Html.Partial("Contact/ContactDetailsViewPartial", contactDets)

        <a class="std-btn" data-bind="click: $parent.TearOff">Resend Details</a>
    </div> 

</div>



