
@using System.Web.Optimization
@model dynamic

@section title
{
    PostaFlya notice board
}

@section scripts {

    @Styles.Render("~/Content/structure/Bulletin/DeskCss.css")
    @Styles.Render("~/Content/themes/taskflya/Bulletin/DeskCss.css")
    @Scripts.Render("~/Script/BulletinDeskJs.js")
}


@section header {
    
    @Html.Partial("GlobalToolbar")
}

    @{ ViewBag.VisibleTrigger = "ShowMap";
        ViewBag.DistanceVariable = "Distance";
        ViewBag.LocationVariable = "Location";
        ViewBag.AutoCompleteLocationBannerText = "'Search For Your Suburb Or Location'";
        ViewBag.AutoCompleteLocationId = "locationSearch";
    }

<div id="controls">
    <div class="page-toolbar">
        <div class="locSel"
            data-helptip-group="bulletin-toolbar" 
            data-helptip-text="Search your Suburb or Area for Fliers">
                                 
            <div class="ls-holder">
                @Html.Partial("Location/LocationAutocomplete")
            </div>
        </div>
            
        <div class="page-toolbar-buttons">
            <div data-bind="click: ToggleMap" class="Button btn-location" id="btn-location"
                 data-helptip-group="bulletin-toolbar" 
                 data-helptip-text="Show your Search Area on a Map">
                Location
            </div>

            <div class="tagsSel">
                <div class="Button btn-tags" id="btn-tags" data-bind="click:ShowTags"
                    data-helptip-group="bulletin-toolbar" 
                    data-helptip-text="Filter the Fliers by Tags">
                    Select Tags
                </div>
            </div>
        </div>
    </div>
    
    <div data-helptip-group="bulletin-toolbar"></div>
    
</div>

<div id="about-posta" data-bind="visible:showHelp()" style="display: none;">


</div>

<div id="main-controls">
    <span data-bind="with:$root.tagsSelector">
        @Html.Partial("Tags/TagsSelector")
    </span>

    @Html.Partial("Location/MapAndDistance")

</div>
    
@Html.Partial("Bulletin/SelectedBulletinViewPartial")
@Html.Partial("Bulletin/BulletinList")

<a data-bind="visible: false" 
   href="@ViewBag.NextPageUrl">Next Page</a>
<a data-bind="visible: false" 
    href="@ViewBag.PrevPageUrl">Previous Page</a>



