
@using System.Web.Optimization
@model dynamic

@section title
{
    PostaFlya notice board
}

@section scripts {

    @Styles.Render("~/Content/structure/Bulletin/DeskCss")
    @Styles.Render("~/Content/themes/taskflya/Bulletin/DeskCss")
    @Scripts.Render("~/Script/BulletinDeskJs")
}


@section header {
    
    @Html.Partial("GlobalToolbar")
}

    @{ ViewBag.VisibleTrigger = "ShowMap";
        ViewBag.DistanceVariable = "Distance";
        ViewBag.LocationVariable = "Location";
        ViewBag.AutoCompleteLocationBannerText = "'Please select a suburb or location'";
        ViewBag.AutoCompleteLocationId = "locationSearch";
    }

<div id="controls">
    <div class="page-toolbar">
        <div class="locSel">
            <div data-bind="click: ToggleMap" class="Button" id="btn-location">Location</div>
                     
            <div class="ls-holder">
                @Html.Partial("Location/LocationAutocomplete")
            </div>
        </div>
            
        <div class="tagsSel">
            <div class="Button" id="btn-tags" data-bind="click:ShowTags">Select Tags</div>
        </div>
        <div id="show-about">
            <div class="Button btn-question" data-bind="click: ShowAbout">hide</div>
        </div>
    </div>
    
    
</div>

<div id="about-posta" data-bind="visible:hideShowAbout" style="display: none;">


</div>

<div id="main-controls">
    <span data-bind="with:$root.tagsSelector">
        @Html.Partial("Tags/TagsSelector")
    </span>

    @Html.Partial("Location/MapAndDistance")

</div>
    
@Html.Partial("Bulletin/SelectedBulletinViewPartial")
@Html.Partial("Bulletin/BulletinList")

<a data-bind="visible: false" 
   href="@ViewBag.NextPageUrl">Next Page</a>
<a data-bind="visible: false" 
    href="@ViewBag.PrevPageUrl">Previous Page</a>



