
@using System.Web.Optimization
@model dynamic

@section title
{
    Postaflya - Your Local Community Noticeboard
}

@section scripts {

    @Styles.Render("~/Content/structure/Bulletin/DeskCss.css")
    @Styles.Render("~/Content/themes/taskflya/Bulletin/DeskCss.css")
    @Scripts.Render("~/Script/BulletinDeskJs.js")
}

@section rightheader
{
    @Html.Partial("Header/BulletinRightToolbar")
}

@{ ViewBag.VisibleTrigger = "ShowMap";
        ViewBag.DistanceVariable = "Distance";
        ViewBag.LocationVariable = "Location";
        ViewBag.AutoCompleteLocationBannerText = "'Search Your Local Area for Flyas...'";
        ViewBag.AutoCompleteLocationId = "locationSearch";
        ViewBag.AutoCompleteBinding = "locationAutoComplete";
    }

<div id="controls">
        
    <div class="location-title">
        Your Local Community Board at
    </div>
    <div>
        <div class="locSel"
             data-helptip-group="bulletin-toolbar" 
             data-helptip-text="Search your Suburb or Area for Community Notices (Flyas)">                                               
            
            <div class="current-loc" data-bind="click: TryFindLocation"data-helptip-group="bulletin-toolbar" data-helptip-text="Search your Current Location for Flyas"></div>                
            @Html.Partial("Location/LocationAutocomplete") 
        </div>
        </div>
    <div class="dist-selector-container">        
        Within <span class="distance-selected" data-bind="text: @ViewBag.DistanceVariable, touchHover: '.dist-selector-container'"></span>km
        <ul class="dist-selector" data-bind="distanceDropDown: @ViewBag.DistanceVariable">
        </ul>
    </div>
    
    <div style="clear: both;"></div>
</div>

<div id="main-controls">
    <span data-bind="with:$root.tagsSelector">
        @Html.Partial("Tags/TagsSelector")
    </span>
</div>
    
@Html.Partial("Bulletin/SelectedBulletinViewPartial")
@Html.Partial("Bulletin/BulletinList")

<a data-bind="visible: false" 
   href="@ViewBag.NextPageUrl">Next Page</a>
<a data-bind="visible: false" 
    href="@ViewBag.PrevPageUrl">Previous Page</a>



