
@using System.Web.Optimization
@model dynamic

@section title
{
    PostaFlya notice board
}

@section scripts {

    @Styles.Render("~/Content/structure/Bulletin/DeskCss")
    @Styles.Render("~/Content/themes/taskflya/Bulletin/DeskCss")
    @Scripts.Render("~/Script/BulletinDeskJs")
}


@section header {
    
    @Html.Partial("GlobalToolbar")
}

<div id="controls">
    <div class="page-toolbar">
        <div class="locSel">
            <div data-bind="click: ToggleMap" class="Button" id="btn-location">Location</div>
            <div class="ls-holder" data-bind="with:locationSelector">
                <input type="text" data-bind="value: searchText , attr:{id:locSearchId}, click: clearSearchText"/>
            </div>
        </div>
            
        <div class="tagsSel">
            <div class="Button" id="btn-tags" data-bind="click:ShowTags">Select Tags</div>
        </div>
        <div id="show-about">
            <div class="Button btn-question" data-bind="click: ShowAbout">hide</div>
        </div>
    </div>
    
    
</div>

<div id="about-posta" data-bind="visible:hideShowAbout">
    
</div>

<div id="main-controls">
    <span data-bind="with:$root.tagsSelector">
          @Html.Partial("Tags/TagsSelector")
    </span>
    <span data-bind="with:locationSelector">
        @Html.Partial("Location/LocationSelector")
    </span>
</div>
    
@Html.Partial("Bulletin/SelectedBulletinViewPartial")
@Html.Partial("Bulletin/BulletinList")

<a data-bind="visible: false" 
   href="@ViewBag.NextPageUrl">Next Page</a>
<a data-bind="visible: false" 
    href="@ViewBag.PrevPageUrl">Previous Page</a>



