
@using System.Web.Optimization
@using PostaFlya.Models
@model PostaFlya.Models.Flier.BulletinBoardPageModel


@{
    ViewBag.Title = "Postaflya - Your Local Community Noticeboard";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Script/BulletinDeskJs.js")
}

@{
    WebConstants.SetViewBagForLocationPicker(ViewBag);
}

<div id="controls">
    <div class="location-title">
        Your Local Community Board at
    </div>
    <div>
        <div class="locSel"
             data-helptip-group="bulletin-toolbar" 
             data-helptip-text="Search your Suburb or Area for Community Notices (Flyas)">                                                           
            <div class="current-loc" data-bind="click: TryFindLocation"data-helptip-group="bulletin-toolbar" data-helptip-text="Search your Current Location for Flyas"></div>                
                @Html.Partial("Location/LocationAutocomplete") 
            </div>
        </div>
    <div class="dist-selector-container" data-bind="touchHover: '.dist-selector-container', visible: Location().ValidLocation()">        
        Within <span class="distance-selected" data-bind="text: @ViewBag.DistanceVariable"></span>km
        <ul class="dist-selector" data-bind="distanceDropDown: @ViewBag.DistanceVariable">
        </ul>
    </div>
    
    <div style="clear: both;"></div>
    <div data-bind="with:$root.tagsSelector" class="bulletin-tags-selector">
        <label>I'm only interested in</label>
        @Html.Partial("Tags/TagsSelector")
    </div>
</div>
   
@Html.Partial("Bulletin/SelectedBulletinViewPartial")
@Html.Partial("Bulletin/BulletinList", Model.Fliers)




