
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{
    @RenderSection("title", false)
}

@section scripts {
    @RenderSection("scripts", false)
}

@section leftheader
{
    <div id="global-left-toolbar">
        <div class="locSel">                                                           
        <div class="current-loc" data-bind="click: TryFindLocation"></div>                
        @Html.Partial("Location/LocationAutocomplete") 
    </div>
    </div>   
}

@section middleheader
{
    @Html.Partial("Header/GlobalMiddleToolbar")
}

@section rightheader
{
    @Html.Partial("Header/RightLoginPostHeader")
}

@RenderBody()