
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{
    @RenderSection("title", false)
}

@section scripts {
    @RenderSection("scripts", false)
}

@section leftheader
{

    @RenderSection("leftheader", required: false)   
    <span>&nbsp;</span>
}

@section middleheader
{
    @Html.Partial("Header/GlobalMiddleToolbar")
}

@section rightheader
{
    @Html.Partial("Header/RightLoginPostHeader")
}

@RenderBody()