
@using System.Web.Optimization
@using Website.Common.Extension
@using PostaFlya.Models.Flier

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@RenderSection("title", required: false)</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&region=AU"></script>
        
        @* TODO add theme resolution to replace taskflya as needed in themes/taskflya/themedeskcss*@  
        @Styles.Render("~/Content/structure/DeskCss.css")  
        @Styles.Render("~/Content/themes/taskflya/DeskCss.css")           
        @Scripts.Render("~/Script/DeskJs.js")     
        
        @Html.Partial("State/PageState")   
            
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <div id="printholder">
            
        </div>
        <div id="media"> 
            <header>   
                <div id="logo">
                    <a href="@Url.Action("Get", "Bulletin")">
                        
                    </a> 
                </div>
                @RenderSection("header", required: false)
            
            
                       
                @Html.Action("BrowserInfo", "BrowserInformation")    
           
            
            
                      
                <!--<div class="Button" id="main-menu" onclick="$('#main-menu ul').toggle();"> 
                        <ul>
                            @if (!Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Login", "LoginPage", "Account")</li>
                            }
                            <li>@Html.ActionLink("Heat Map", "Get", "HeatMap")</li>

                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </div>-->
                
                
            </header>
            <div id="body">
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
              
            
                    @if (Request.IsAuthenticated)
                    {
                        <div id="create-flier-popup-overlay" data-bind="visible:CreateFlierInstance.CreateFlier"></div>
                        <div id="create-flier-item-div" data-bind="with:CreateFlierInstance.CreateFlier, visible:CreateFlierInstance.CreateFlier, absolutePosFromScroll: CreateFlierInstance.CreateFlier">
                            <a class="close-button red-mini-button" data-bind="click:$root.CreateFlierInstance.FlierFormClose">close</a>
                          
                            <div class="toolbar-button question-tool-bar-item" data-bind="click: bf.HelpTipsInstance.ToggleHelp, css: { 'helptips-on': bf.HelpTipsInstance.showHelp() }"></div>
                            
                            @Html.Partial("Flier/CreateEdit", FlierCreateModel.DefaultForTemplate())

                        </div>
            
                    }
                </section>
            
            </div>
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Bumblfly</p>
                    </div>

                </div>
            </footer>
        </div>
    </body>
</html>
