@using System.Web.Optimization
@using Website.Common.Extension
<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            bumblfly
        </title>
               
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
              
        @* TODO add theme resolution to replace taskflya as needed in themes/taskflya/themedeskcss*@     
        @Styles.Render("~/Content/structure/MobileCss")
        @Styles.Render("~/Content/themes/taskflya/MobileCss")     
        @Scripts.Render("~/Script/MobileJs") 
        @RenderSection("scripts", required: false)

    </head>
    <body>
        
        <div data-role="page" data-theme="e" id="page1">
            <div data-theme="e" data-role="header" data-position="fixed" data-fullscreen="true">

                <div data-role="controlgroup"  data-type="horizontal" class="ui-btn-left ui-adjust-controlgroup-margins" data-inline="true">
                    @RenderSection("leftheaderbuttons", required: false) 
                </div>
                <div data-role="controlgroup"  data-type="horizontal" class="ui-btn-right ui-adjust-controlgroup-margins" data-inline="true">
                    @RenderSection("rightheaderbuttons", required: false) 
                </div>
                <h4>
                    bumblfly
                </h4>
            </div>
            <div data-role="content" class="ui-mobile-content">       
                @RenderBody()    
                @Html.Partial("Social/SocialLinks")     
            </div>   
              
            @*footer doesn't seem to work that well   *@  
            @*<div data-theme="e" data-role="footer" data-position="fixed">               
            
                <div data-role="controlgroup"  data-type="horizontal" style="float: left; padding-left: 10px;" class="ui-adjust-controlgroup-margins">
                    @RenderSection("leftfooterbuttons", required: false) 
                </div>
                
                <div data-role="controlgroup"  data-type="horizontal" style="float: right; padding-right: 10px;" class="ui-adjust-controlgroup-margins">
                    @RenderSection("rightfooterbuttons", required: false) 
                </div>
            </div>*@
        </div>
    </body>
</html>