
@using System.Web.Optimization
@using Website.Common.Extension
@using PostaFlya.Models.Flier

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@RenderSection("title", required: false)</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&region=AU"></script>
        
        @* TODO add theme resolution to replace taskflya as needed in themes/taskflya/themedeskcss*@  
        @Styles.Render("~/Content/structure/DeskCss.css")  
        @Styles.Render("~/Content/themes/taskflya/DeskCss.css")           
        @Scripts.Render("~/Script/DeskJs.js")     
        
        @Html.Partial("State/PageState")   
            
        @RenderSection("scripts", required: false)
    </head>
    <body>
            <header>   
                <div id="logo" data-helptip-group="about-posta" data-helptip-text="">
                    <a id="left-logo" href="@Url.Action("Get", "Bulletin")">
                        
                    </a> 
                    <div data-helptip-group-content="about-posta" style="display: none">                               
                        <h3>Postaflya is your Local Community Noticeboard.</h3>
                        <div>
                            Put Ya Flyas Online!
                            <ul class="about-list">
                                <li>
                                    Simply upload your Flya and post it to your Local Community Area.                         

                                </li>    
                                <li>
                                    People can bookmark and retrieve your event or contact details directly off the electronic Flya  
                                
                                </li>
                                <li>
                                    You can physically print off your Flya with QR codes and Urls to enable people to find your Flya online by snapping it on their phone or taking a tear off.   
                                </li>
                            </ul> 
                            
                        </div>
                        <div>
                            Browse Community content
                            <ul class="about-list">
                                <li>
                                    Simply search for your Local Community Area or Suburb.                         

                                </li>    
                                <li>
                                    Scroll through the Flya wall and see what is happening around you, or find local services.
                                
                                </li>
                                <li>
                                    Tear off, or bookmark, Flyas you are interested in and we'll email the details directly to you as well as calendar entries and/or contact details.         
                                </li>
                                <li>
                                    Revisit any time to find Flyas you have bookmarked 
                                </li>
                            </ul> 
                        </div>
                        

                    </div>
                     
                </div>
                

                @RenderSection("header", required: false)
            
            
                       
                @Html.Action("BrowserInfo", "BrowserInformation")    
           
            
            
                      
                <!--<div class="Button" id="main-menu" onclick="$('#main-menu ul').toggle();"> 
                        <ul>
                            @if (!Request.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Login", "LoginPage", "Account")</li>
                            }
                            <li>@Html.ActionLink("Heat Map", "Get", "HeatMap")</li>

                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </div>-->
                
                
            </header>
            <div id="body">
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
              
            
                    @if (Request.IsAuthenticated)
                    {
                        <div id="create-flier-popup-overlay" data-bind="visible:CreateFlierInstance.CreateFlier"></div>
                        <div id="create-flier-item-div" data-bind="with:CreateFlierInstance.CreateFlier, visible:CreateFlierInstance.CreateFlier, absolutePosFromScroll: CreateFlierInstance.CreateFlier">
                            <a class="close-button mini-button red-button" data-bind="click:$root.CreateFlierInstance.FlierFormClose">close</a>
                          
                            <div class="toolbar-button question-tool-bar-item" data-bind="helpTipTrigger: HelpTipPage, helpGroups: HelpTipGroups"></div>
                            
                            @Html.Partial("Flier/CreateEdit", FlierCreateModel.DefaultForTemplate())

                        </div>
            
                    }
                </section>
            
            </div>
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year - Postaflya pty ltd</p>
                    </div>

                </div>
            </footer>

    </body>
</html>
