
@using System.Web.Optimization
@model PostaFlya.Models.Flier.PaymentResult

@section scripts {
    @Styles.Render("~/Content/structure/Payment/DeskCss.css")   
    @Styles.Render("~/Content/themes/taskflya/Payment/DeskCss.css")   
    @Scripts.Render("~/Script/PaymentDeskJs.js") 
}

<div class="page-content">
<div class="page-inner">
    <h2>Transaction Complete</h2>
    <h3>Thank you for adding flya credits</h3>
    @Model.PaymentMessage
    
    <p>You can now return to finalise pending fliers</p>

    <div class="btm-buttons">
    @Html.ActionLink("Back to Flier Payment", "PaymentPending", "Profile",null, new{@class="std-btn"})
    </div>
    
</div>
</div>


