
@model PostaFlya.Models.Location.ContactDetailsModel


<fieldset>
    <legend>@Html.LabelForModel()</legend>
    
    <ol>
                    
        <li>
            @Html.ValidationMessageFor(model => model.PhoneNumber)
            @Html.LabelFor(model => model.PhoneNumber)
            @Html.TextBoxFor(model => model.PhoneNumber, new { data_bind = "value:PhoneNumber" })
            
        </li>
        

        <li>
            @Html.ValidationMessageFor(model => model.EmailAddress)
            @Html.LabelFor(model => model.EmailAddress)  
            @Html.TextBoxFor(model => model.EmailAddress, new { type="email", data_bind = "value:EmailAddress" })
            
        </li>

        <li>
            @Html.ValidationMessageFor(model => model.FirstName)
            @Html.LabelFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName, new { data_bind = "value:FirstName" })
            
        </li>

        <li>
            @Html.ValidationMessageFor(model => model.MiddleNames)
            @Html.LabelFor(model => model.MiddleNames)
            @Html.TextBoxFor(model => model.MiddleNames, new { data_bind = "value:MiddleNames" })
            
        </li>

        <li>
            @Html.ValidationMessageFor(model => model.Surname)
            @Html.LabelFor(model => model.Surname)
            @Html.TextBoxFor(model => model.Surname, new { data_bind = "value:Surname" })
            
        </li>

        <li>
            @Html.ValidationMessageFor(model => model.WebSite)
            @Html.LabelFor(model => model.WebSite)
            @Html.TextBoxFor(model => model.WebSite, new {  type="url", data_bind = "value:WebSite" })
            
        </li>
        
        <li>
            @Html.LabelFor(model => model.Address)
            @{
                   
                ViewBag.LocationVariable = "Address";
                ViewBag.AutoCompleteLocationBannerText = "'Please enter an address'";
                ViewBag.AutoCompleteLocationId = "addressSearch";
            }
            @Html.Partial("Location/LocationAutocomplete")
            
        </li>
    </ol>

</fieldset>

