
@using Website.Application.Domain.Google.Content
@using Website.Domain.Location
@model PostaFlya.Models.Location.VenueInformationModel

<fieldset>
    <legend>@Html.LabelForModel()</legend>
    
    <ol>
        
        <li data-bind="visible:PlaceName()">
            <span data-bind="text:PlaceName()">@Model.PlaceName</span>                  
        </li>

        <li data-bind="visible:Address().Description()">
            <a class="plainlink"
                href="@Html.LocationMapSearchUrl(Model.Address.ToDomainModel())" data-bind="attr: { href: Address().SearchLink() }" target="_blank">
            <span data-bind="text: Address().Description()">@(Model.Address != null ? Model.Address.GetAddressDescription() : "")</span>                                      
            </a>
        </li>
                    
        <li data-bind="visible: PhoneNumber()" >
            @Html.LabelFor(model => model.PhoneNumber)
            <span data-bind="text:PhoneNumber">@Model.PhoneNumber</span>            
        </li>
        

        <li data-bind="visible:EmailAddress()">
            @Html.LabelFor(model => model.EmailAddress) 
            <a data-bind="text:EmailAddress, attr:{href: 'mailto:' + EmailAddress()}">@Model.EmailAddress</a>              
        </li>


        <li data-bind="if:BoardFriendlyId()">
            <a  class="bold-link" data-bind="visible:BoardFriendlyId(), attr:{href: (bf.widgetbase ? bf.widgetbase : '' ) + '/' + BoardFriendlyId()}" href="@Model.BoardFriendlyId">Venue Poster Board</a>                 
        </li>

        

    </ol>

</fieldset>

