
@using Website.Domain.Location
@model PostaFlya.Models.Location.VenueInformationModel

<fieldset>
    <legend>@Html.LabelForModel()</legend>
    
    <ol>
        
        <li data-bind="visible:PlaceName()">
            <span data-bind="text:PlaceName()">@Model.PlaceName</span>                  
        </li>

        <li data-bind="visible:Address().Description()">
            <span data-bind="text:Address().Description()">@(Model.Address != null ? Model.Address.GetAddressDescription() : "")</span>                      
        </li>
                    
        <li data-bind="visible: PhoneNumber()" >
            @Html.LabelFor(model => model.PhoneNumber)
            <span data-bind="text:PhoneNumber">@Model.PhoneNumber</span>            
        </li>
        

        <li data-bind="visible:EmailAddress()">
            @Html.LabelFor(model => model.EmailAddress) 
            <a data-bind="text:EmailAddress, attr:{href: 'mailto:' + EmailAddress()}">@Model.EmailAddress</a>              
        </li>


        <li data-bind="if:WebSite() || SourceUrl()">     
            <a  class="bold-link" data-bind="visible:WebSite(), attr:{href: WebSite}" href="@Model.WebSite" target="_blank">Website</a>      
            <a  class="bold-link" data-bind="visible:SourceUrl(), text:Source, attr:{href: SourceUrl}" href="@Model.SourceUrl" target="_blank">@Model.Source</a>         
        </li>

        

    </ol>

</fieldset>

