@using System.Web.Optimization
@using PostaFlya.Models
@using PostaFlya.Models.Flier
@using Website.Application.Domain.Google.Content
@using Website.Domain.Location
@model PostaFlya.Models.Board.BoardPageViewModel


@{
    ViewBag.Title = "Popscenes - " + Model.Name;
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Script/BulletinDeskJs.js")
}

<div class="board-header">
    <div class="board-header-content">
        <input type="hidden" value="@Model.FriendlyId" id="boardid"/>

        <section class="board-information-desc">
            <h3>
                <span>@Model.Name</span>
            </h3>
            <div>
                <span>@Model.Description</span>
            </div>
            
                    <div class="venue-desc-text">
                    <span>@Model.Location.GetAddressDescription()</span>
                </div>
            <div class="board-links">
                @foreach (var veninfo in Model.VenueInformation)
                {
        
                    <fieldset>
                        <legend>@veninfo.Source</legend>

                        @if (!string.IsNullOrWhiteSpace(veninfo.WebSite))
                        {
                            <a  class="bold-link" href="@veninfo.WebSite" target="_blank">Website</a> 
                        }

                        @if (!string.IsNullOrWhiteSpace(veninfo.SourceUrl))
                        {
                            <a  class="bold-link" href="@veninfo.SourceUrl" target="_blank">@veninfo.Source</a> 
                        }

                    </fieldset>
                }
            </div>

        </section>
        
         @if (Model.Location != null && Model.Location.IsValid())
        {
        
            <section class="board-information-addr">
                <div>
                    <a href="@Html.LocationMapSearchUrl(Model.Location.ToDomainModel())"
                       target="_blank">@Html.LocationImage(Model.Location.ToDomainModel(), 258, 128, 15)</a>
                </div>
            </section>

        }
        
        <section class="board-information-calendar">
            @Html.Partial("_DateFilterPartial")
        </section>

        <div class="clear-fix"></div>
    </div>
</div>


@Html.Partial("Bulletin/SelectedBulletinViewPartial")
@Html.Partial("Bulletin/BulletinList", new List<BulletinFlierModel>())




